body{
    
    font-family: sans-serif;
padding-top:10;
margin:10;
background-color: rgb(78, 167, 211);
padding-top: 10;
direction: rtl;

}
.n4{
    display: block;
    background: fixed;
    background-color: rgb(250, 252, 253);
    padding-top: 10;
    margin: 10 px;
}
.nn4{
    background-color:  rgb(250, 252, 253);
}
.nnn4{
    background-color: rgb(250, 252, 253);
}

