body{
    font-family: sans-serif;
    padding-top: 0;
    margin: 0;
    background:url(img/non9.jpg) no-repeat;
    direction: rtl;
    
}
.l1{
    background-color: rgb(147, 100, 100);
    margin-top: 5px;
  padding-bottom:center;
  text-align: right;
  text-decoration: none;

}

.l2{
    background-color: rgb(147, 100, 100);;
    text-align: center;
}

.l3{
    background-color: rgb(147, 100, 100);;
    text-align: center;
}
.l4{
    background-color: rgb(147, 100, 100);
    text-align: center;
}


.l2{
    background-color: rgb(147, 100, 100);;
    text-align: center;
}

.l3{
    background-color:  rgb(147, 100, 100);;
    text-align: center;
}
.l4{
    background-color: rgb(147, 100, 100);;
    text-align: center;
}

.non1 a{
    text-decoration: none;
}